@charset "UTF-8";

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

section#foto {
    display: grid;
    grid-template-rows: 85% 15%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor0);
    height: 450px;
    border-radius: 20px;
}

.btntrocar {
    margin: auto;
    border: none;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor0);
    transition: 0.2s; 
    grid-row-start: 2;
    width: 120px;
}

.btntrocar:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    border: 1px solid var(--cor0);
    border-radius: 15px;
    cursor: pointer;
}

img#img {
    border-radius: 10px;
}

section.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#txt1 {
   grid-column-end: 2; 
}

#txt2 {
    grid-column-start: 3;
}



